{% extends 'core/common/base_blog.html' %}
{% load static %}

{% block noticias %}
    {% if postagens %}
        {% for p in postagens %}
        <div class="card mb-4 mt-2">
            <div class="card-body">
            <!-- Title -->
                <a href="{{ p.get_absolute_url }}">
                    <h1 class="mt-4 roxo">{{ p.titulo }}</h1>
                </a>

                <!-- Author -->
                <p class="lead">
                    por
                    <a href="#">{{ p.autor }}</a>
                </p>

                <hr>

                <!-- Date/Time -->
                <p>{{ p.data_publicacao }}</p>

                <hr>

                <!-- Preview Image -->
                <img class="img-fluid rounded" src="{{ p.imagem.normal.url }}" alt="">

                <hr>
                <!-- Post Content -->
                <p class="lead">{{ p.texto | truncatechars:100 }}</p>
                <a  href="{{ p.get_absolute_url }}">Leia mais ></a>
            </div>
        </div>
        {% endfor %}

        {% if postagens.has_other_pages %}
        <nav aria-label="Page navigation example"
            <ul class="pagination justify-content-center">
                {% if postagens.has_previous %}
                    <li class="page-item">
                        <a class="page-link" href="?page={{ postagens.previous_page_number }}">&laquo;</a>
                    </li>
                {% else %}
                    <li class="page-item disabled">
                        <a class="page-link">&laquo;</a>
                    </li>
                {% endif %}

                {% for i in postagens.paginator.page_range %}
                    {% if postagens.number == i %}
                        <li class="page-item active">
                            <a class="page-link">{{ i }} </a>
                        </li>
                    {% else %}
                        <li class="page-item">
                            <a class="page-link" href="?page={{ i }}">{{ i }}</a>
                        </li>
                    {% endif %}
                {% endfor %}

                {% if postagens.has_next %}
                    <li class="page-item">
                        <a class="page-link" href="?page={{ postagens.next_page_number }}">&raquo;</a>
                    </li>
                {% else %}
                    <li class="page-item disabled">
                        <a class="page-link">&raquo;</a>
                    </li>
                {% endif %}
            </ul>
        </nav>
        {% endif %}

        <p>&nbsp</p>

    {% else %}
        <h2 class="mt-5">{{ resp }}</h2>
    {% endif %}
{% endblock %}
