{% extends 'core/common/base_blog.html' %}
{% load static %}

{% block noticias %}
    {% if postagens %}
        {% for p in postagens %}
        <div class="card mb-4 mt-2">
            <div class="card-body">
            <!-- Title -->
                <a href="{{ p.get_absolute_url }}">
                    <h1 class="mt-4 roxo">{{ p.titulo }}</h1>
                </a>

                <!-- Author -->
                <p class="lead">
                    por
                    <a href="#">{{ p.autor }}</a>
                </p>

                <hr>

                <!-- Date/Time -->
                <p>{{ p.data_publicacao }}</p>

                <hr>

                <!-- Preview Image -->
                <img class="img-fluid rounded" src="{{ p.imagem.normal.url }}" alt="">

                <hr>
                <!-- Post Content -->
                <p class="lead">{{ p.texto | truncatechars:100 }}</p>
                <a class="btn btn-link roxo" href="{{ p.get_absolute_url }}">Leia mais ></a>
            </div>
        </div>
        {% endfor %}
    {% else %}
        <h2 class="mt-5">{{ resp }}</h2>
    {% endif %}
{% endblock %}
