{% load static %}
{% load widget_tweaks %}
<!DOCTYPE html>
<html>
{% include 'core/common/head_blog.html' %}
<body>

<!--       ############## NAVBAR ############### 		-->
{% include 'core/common/header_blog.html' %}

<!--       ############## INICIO CONTEUDO ############### 		-->
<!-- <img class="img-fluid" src="img/bg_tools.png"> -->
	<div class="container">

      <div class="row">

        <!-- Post Content Column -->
        <div class="col-lg-8">

          <!-- Title -->
          <h1 class="mt-4">{{ postagem.titulo }}</h1>

          <!-- Author -->
          <p class="lead">
            por
            <a href="#">{{ postagem.autor }}</a>
          </p>

          <hr>

          <!-- Date/Time -->
          <p>{{ postagem.data_publicacao }}</p>

          <hr>

          <!-- Preview Image -->
          <img class="img-fluid rounded" src="{{ postagem.imagem.normal.url }}" alt="">

          <hr>

          <!-- Post Content -->
          <p class="lead">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ducimus, vero, obcaecati, aut, error quam sapiente nemo saepe quibusdam sit excepturi nam quia corporis eligendi eos magni recusandae laborum minus inventore?</p>

          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ut, tenetur natus doloremque laborum quos iste ipsum rerum obcaecati impedit odit illo dolorum ab tempora nihil dicta earum fugiat. Temporibus, voluptatibus.</p>

          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eos, doloribus, dolorem iusto blanditiis unde eius illum consequuntur neque dicta incidunt ullam ea hic porro optio ratione repellat perspiciatis. Enim, iure!</p>

          <blockquote class="blockquote">
            <p class="mb-0">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante.</p>
            <footer class="blockquote-footer">Someone famous in
              <cite title="Source Title">Source Title</cite>
            </footer>
          </blockquote>

          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Error, nostrum, aliquid, animi, ut quas placeat totam sunt tempora commodi nihil ullam alias modi dicta saepe minima ab quo voluptatem obcaecati?</p>

          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Harum, dolor quis. Sunt, ut, explicabo, aliquam tenetur ratione tempore quidem voluptates cupiditate voluptas illo saepe quaerat numquam recusandae? Qui, necessitatibus, est!</p>

          <hr>

          <!-- Comments Form -->
          <div class="card my-4">
            <h5 class="card-header bg_roxo text-light">Leave a Comment:</h5>
            <div class="card-body">
              <form autocomplete="off" method="post">
                {% csrf_token %}
                <div class="form-group">
                  {% render_field form.nome class='form-control' placeholder=form.nome.label %}
                </div>
                <div class="form-group">
                  {% render_field form.comentario class='form-control' placeholder=form.comentario.label rows="3" %}
                </div>
                <button type="submit" class="btn btn-dark box_generic">Submit</button>
              </form>
            </div>
          </div>

          <!-- Single Comment -->
          {% for comentario in comentarios %}
          <div class="media mb-4">
            <img class="d-flex mr-3 rounded-circle" src="http://placehold.it/50x50" alt="">
            <div class="media-body">
              <h5 class="mt-0">{{ comentario.nome }}</h5>
                {{ comentario.comentario }}
            </div>
          </div>
        </div>
        {% endfor %}

        <!-- Sidebar Widgets Column -->
        <div class="col-md-4">

          <!-- Categories Widget -->
          <div class="card my-4">
            <h5 class="card-header bg_roxo text-light">Categorias</h5>
            <div class="card-body">
              <div class="row">
                <div class="col-lg-6">
                  <ul class="list-unstyled mb-0">
                    <li>
                      <a href="#">Eletrônica</a>
                    </li>
                    <li class="mt-2">
                      <a href="#">Web Design</a>
                    </li>
                    <li class="mt-2">
                      <a href="#">Programação</a>
                    </li>
                  </ul>
                </div>
                <div class="col-lg-6">
                  <ul class="list-unstyled mb-0">
                    <li>
                      <a href="#">Design</a>
                    </li>
                    <li class="mt-2">
                      <a href="#">Inteligência Computacional</a>
                    </li>
                    <li class="mt-2">
                      <a href="#">Softwares</a>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
          </div>

          <!-- Side Widget -->
          <div class="card my-4">
            <h5 class="card-header bg_roxo text-light">Cursos</h5>
            <div class="card-body">
              Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
              tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
              quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
            </div>
          </div>

        </div>

      </div>
      <!-- /.row -->

    </div>
    <!-- /.container -->

    <!-- Footer -->
    {% include 'core/common/footer_blog.html' %}

</body>
</html>