{% load static%}
<!DOCTYPE html>
<html>
	{% include 'core/common/head.html' %}
<body>

	<!-- Navbar -->
	{% include 'core/common/header.html' %}

	<!-- Carousel-->
	<div id="carouselId" class="carousel slide" data-ride="carousel">
		
		<ol class="carousel-indicators">
			<li class="active" data-target="#carouselId" data-slide-to="0"></li>
			<li data-target="#carouselId" data-slide-to="1"></li>
			<li data-target="#carouselId" data-slide-to="2"></li>
		</ol>

		<div class="carousel-inner" >
			<div class="carousel-item active">
				<img class="img-fluid d-block" src="{{destaques.0.imagem.normal.url}}">
				<div class="carousel-caption d-none d-lg-block text-dark">
					{% if destaques %}
					<h1>{{ destaques.0.titulo }}</h1>
					<p class="lead"> {{ destaques.0.descricao }} </p>
					{% endif %}
				</div>
			</div>

			<div class="carousel-item">
				<img class="img-fluid d-block" src="{{destaques.1.imagem.normal.url}}">
				<div class="carousel-caption d-none d-lg-block text-dark">
					{% if destaques %}
					<h1>{{ destaques.1.titulo }}</h1>
					<p class="lead"> {{ destaques.1.descricao }}</p>
					{% endif %}
				</div>
			</div>

			<div class="carousel-item">
				<img class="img-fluid d-block" src="{{destaques.2.imagem.normal.url}}">
				<div class="carousel-caption d-none d-lg-block text-dark">
					{% if destaques %}
					<h1>{{ destaques.2.titulo }}</h1>
					<p class="lead">{{ destaques.2.descricao }}</p>
					{% endif %}
				</div>
			</div>
		</div>

		<a class="carousel-control-prev" href="#carouselId" role="button" data-slide="prev">
			<span class="carousel-control-prev-icon"></span>
			<span class="sr-only">Anterior</span>
		</a>

		<a class="carousel-control-next" href="#carouselId" role="button" data-slide="next">
			<span class="carousel-control-next-icon"></span>
			<span class="sr-only">Próximo</span>
		</a>
	</div>

	<div class="row">
		<div class="col-12 text-center mt-5 mb-5">
			<h1 class="display-4 roxo">EMakers Júnior</h1>
			<p>Este é o primeiro website da nova empresa júnior do Departamento de Ciência da Computação da UFLA</p>
		</div>
	</div>

	<div class="d-block">
		<div class="container">
			
			<!-- <div class="row mb-1">
				<div class="col-sm-6 col-md-4 mb-2">
					<nav id="navbarVert" class=" navbar navbar-light flex-column bg-light box_roxo">
						<nav class=" nav nav-pills flex-column">
							<a class="nav-link" id="nav_1_Historia" href="#item1">História</a>
							<nav class="nav nav-pills flex-column">
								<a class="nav-link  ml-3" id="nav_1_Inicio" href="#item1-1">Início</a>
								<a class="nav-link ml-3" id="nav_1_MF" href="#item1-2">Membros fundadores</a>
							</nav>
							<a class="nav-link my-2" id="nav_1_Missao" href="#item2">Missão</a>
							<a class="nav-link my-2" id="nav_1_Visao" href="#item3">Visão</a>
							<a class="nav-link my-2" id="nav_1_Valores" href="#item4">Valores</a>
						</nav>	
					</nav>
				</div>

				<div class="col-sm-6 col-md-8 mb-5 bg_white" >
					<div class="scrollspySite bg-white my-3 ml-3"  data-spy="scroll" data-target="#navbarVert" data-offset="0"  > -->
						<h4 id="item1"> História</h4>
						<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
						tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
						quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
						consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
						cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
						proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>

						<h5 id="item1-1"> Início </h5>
						<p> Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
						tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
						quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
						consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
						cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
						proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>

						<h5 id="item1-2"> Membros fundadores</h5>
						<p> Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
						tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
						quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
						consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
						cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
						proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>

						<h4 id="item2"> Missão</h4>
						<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
						tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
						quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
						consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
						cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
						proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>

						<h4 id="item3"> Visão </h4>
						<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
						tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
						quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
						consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
						cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
						proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>

						<h5 id="item4"> Valores</h5>
						<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
						tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
						quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
						consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
						cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
						proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
					<!-- </div>
				</div>
			</div>	 -->
		</div>
	</div>

	<!-- Cards  -->
	<div class="bg_roxo text-center" id="servicos">
		<br> <br>
		<div class="mb-5">
			<h1 class="display-3 text-light ">O que fazemos?</h1>
			<p class="lead text-light"> Serviços, produtos e mais!</p>	
			<!--<div class="container">
			
				<hr style="border-top: 1px solid #FFF;"> 
			
			</div>-->
		</div>		
		<div class="container-fluid">
			<div class="row justify-content-sm-center">
				{% for s in servicos %}
				<div class="col-sm-6 card-deck col-md-4 col-10">
					<div class="card ml-4 mr-4 mb-4 ">
						<div class="mx-2 mt-4">
							<img class="card-img-top card_img" src="{{s.servico.imagem.normal.url}}">
						</div>
						
						<div class="card-body">
							<h4 class="card-title">{{s.servico.nome}}</h4>
							<h6 class="subtitle text-muted">{{s.servico.exemplos}}</h6>
							<p class="card-text">{{s.servico.descricao}}</p>
							<a href="#" class="btn btn-lg btn-dark btn_custom mt-3 card-link" data-toggle="modal" data-target="#{{ s.modal }}">
								<i class="fa fa-plus-circle mx-2" aria-hidden="true"></i>
								Saiba Mais
							</a>
							<!--<button href="#" class="btn btn-lg bg_roxo btn_hover box_generic text-light card-link" data-toggle="modal" data-target="#modalAndroid">Saiba mais</button>-->
						</div>

						<div class="card-footer bg-dark">
							<h6 class="text-light mt-1"><i class="fa fa-cog" aria-hidden="true"></i> Cursos em desenvolvimento <i class="fa fa-cog" aria-hidden="true"></i> </h6>
						</div>
					</div>
				</div>
				{% endfor %}
			</div>
		</div>
	</div>


	<!-- Jumbotron -->
	<div class="jumbotron jumbotron-fluid bg-white" id="portfolio">
		<div class="container">

			<div class="row">
				<div class="col-12 text-center">
					<h1 class="display-4"> O que já criamos? </h1>
					<p class="lead"> Portfólio </p>
					<hr>
				</div>
			</div>

			<div class="row">
				<div class="col-12">
					<ul class="nav nav-pills justify-content-center" id="navPortifolio" role="tablist" >
						{% for p in portfolio %}
						<li class=" nav-item" >
							{% if p.nome == portfolio.0.nome %}
								<a class="nav-link active" id="" data-toggle="pill" href="#{{p.nome}}">
									{{ p.nome }}
								</a>
							{% else %}
								<a class="nav-link" id="" data-toggle="pill" href="#{{p.nome}}">
									{{ p.nome }}
								</a>
							{% endif %}
						</li>
						{% endfor %}
					</ul>

					<div class="tab-content" id="navPortifolio_content">

						{% for p in portfolio %}
						{% if p.nome == portfolio.0.nome %}
						<div class="tab-pane fade show active mt-5" id="{{p.nome}}" role="tabpanel">
						{% else %}
						<div class="tab-pane fade show mt-5" id="{{p.nome}}" role="tabpanel">
						{% endif %}
							<h1 class="display-5 text-center">{{ p.nome }}</h1>
							<h4 class="text-muted text-center">{{ p.exemplos }}</h4>

							<div class="row mt-5">

								<div class="col-6">
									<div class="embed-responsive embed-responsive-16by9">
										<iframe class="embed-responsive-item" src="{{ p.video_url }}"></iframe>
									</div>
								</div>

								<div class="col-6">
									<p>{{ p.descricao }} </p>
								</div>

							</div>
						</div>
						{% endfor %}
					</div>
				</div>				
			</div>
		</div>
	</div>


	<!-- Footer -->
	<div class="bg-dark text-light justify-content-center text-center">
		<div class="container">
			<div class="row">
				<div class="my-5 col-sm-12 text-center">
					<h2 class=" display-4 "> Onde estamos?</h2>
					<p class="lead"> Endereço, contato e redes!</p>
				</div>
			</div>

			<div class="row justify-content-center">
				<div class="col-sm-12 col-md-6 col-lg-6 text-light ">
					<div class=" mx-auto mb-5 rounded" id="googleMap" style="width:80%;height:400px;"></div>
				</div>

				<div class="row col-6  mt-lg-5 mt-md-3 mt-sm-0 ">
			
					<div class="col-4 col-sm-4">
						<a class="text-light" href="http://facebook.com/EMakersUFLA">
							<i class="fa fa-facebook-square fa-5x mr-3 mr-sm-3 mr-md-3 mr-lg-3" aria-hidden="true"></i>
						</a>
					</div>

					<div class=" col-4 col-sm-4">
						<a class="text-light" href="http://facebook.com/EMakersUFLA">
							<i class="fa fa-instagram fa-5x mr-4" aria-hidden="true"></i>
						</a>
					</div>

					<div class="col-4 col-sm-4">
						<a class="text-light" href="http://facebook.com/EMakersUFLA">
							<i class="fa fa-youtube-square fa-5x mr-5 mb-lg-5 mb-md-3 mb-sm-5" aria-hidden="true"></i>
						</a>
					</div>

					<div class="col-12 col-sm-12 ml-3">
						<p class="ml-5 ml-lg-0 ml-md-0 ml-sm-0 mr-0 mr-sm-5 mr-md-5 mr-lg-5 mt-sm-0 mt-md-0 mt-lg-0 mt-4 mb-5">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
						tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
						quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
						consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
						cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
						proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
					</div>
				</div>
			</div>
		</div>
	</div>


	<!-- Modal -->
	{% for s in servicos %}
	<div class="modal fade" id="{{s.modal}}" role="dialog">
		<div class="modal-dialog" role="document">
			<div class="modal-content">

				<div class="modal-header">
					<h5 class="modal-title">{{s.servico.nome}}</h5>
					<button class="close" type="button" data-dismiss="modal">
						<span>&times;</span>
					</button>
				</div>

				<div class="modal-body">
					<p> {{s.texto}}</p>
				</div>				

				<div class="modal-footer">
					<button class="btn btn-danger" type="button" data-dismiss="modal">Fechar</button>
				</div>

			</div>
		</div>
	</div>
	{% endfor %}

	<!-- footer -->
	{% include 'core/common/footer.html'%}

	<!-- <script src="{% static 'js/style.js' %}"></script> -->
	<script src="{% static 'js/maps.js' %}"></script>
	<script src="https://maps.googleapis.com/maps/api/js?callback=myMap"></script>
	<script src="{% static 'node_modules/jquery/dist/jquery.js' %}"></script>
	<script src="{% static 'node_modules/popper.js/dist/umd/popper.js' %}"></script>
	<script src="{% static 'node_modules/bootstrap/dist/js/bootstrap.js' %}"></script>
</body>
</html>